/* =========================
   Default Theme
========================= */

:root {
    --bg-color: #15161c;
    --card-color: #1e2028;
    --text-color: #ffffff;
    --secondary-text: #aeb7c5;

    --input-bg: #f0f2f5;
    --input-text: #333333;

    --primary: #18a8dc;
    --primary-hover: #1299ca;

    --border: #18a8dc;
}


/* =========================
   White Theme
========================= */

[data-theme="white"] {
    --bg-color: #ffffff;
    --card-color: #ffffff;

    --text-color: #222222;
    --secondary-text: #666666;

    --input-bg: #f0f2f5;
    --input-text: #333333;

    --primary: #18a8dc;
    --primary-hover: #1299ca;

    --border: #18a8dc;

    --interest-bg: #e8f4fa;
    --interest-text: #17658a;

    --interest-selected-bg: #18a8dc;
    --interest-selected-text: #ffffff;

    --cancel-hover: #e8f6fc;
}


/* =========================
   Black Theme
========================= */

[data-theme="black"] {
    --bg-color: #111111;
    --card-color: #1b1b1b;

    --text-color: #ffffff;
    --secondary-text: #aaaaaa;

    --input-bg: #292929;
    --input-text: #ffffff;

    --primary: #18a8dc;
    --primary-hover: #1299ca;

    --border: #18a8dc;

    --interest-bg: #292d33;
    --interest-text: #d5dce3;

    --interest-selected-bg: #18a8dc;
    --interest-selected-text: #ffffff;

    --cancel-hover: #e8f6fc;
}


/* =========================
   Blue Theme
========================= */

[data-theme="blue"] {
    --bg-color: #eaf7ff;
    --card-color: #ffffff;

    --text-color: #12344d;
    --secondary-text: #52738a;

    --input-bg: #ffffff;
    --input-text: #333333;

    --primary: #2196f3;
    --primary-hover: #1976d2;

    --border: #2196f3;

    --interest-bg: #c7e0f0;
    --interest-text: #164a6b;
    --interest-selected-bg: #2196f3;
    --interest-selected-text: #ffffff;

    --cancel-hover: #ffffff;
}