/* =========================
   THEME VARIABLES
   ========================= */

* {
    font-family: Tahoma, sans-serif !important;
    margin:0; padding:0; box-sizing:border-box
}

body {
  font-family: Tahoma, sans-serif;
}
button, input, select, textarea {
  font-family: inherit;
}

:root {
    --bg-color: #ffffff;
    --surface-color: #ffffff;
    --text-color: #111111;
    --secondary-text-color: #666666;
    --border-color: #dddddd;
    --sidebar-bg: #ffffff;
    --input-bg: #ffffff;

    --hover-bg: #f2f8ff;
    --active-bg: #dff1fc;
    --active-text: #168ee8;
    --shadow-color: rgba(0, 0, 0, 0.06);
}


/* =========================
   DARK THEME
   ========================= */

body.theme-dark {
    --bg-color: #151515;
    --surface-color: #252525;
    --text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --border-color: #444444;
    --sidebar-bg: #202020;
    --input-bg: #303030;

    --hover-bg: #333333;
    --active-bg: #1f3a4d;
    --active-text: #4db8ff;
    --shadow-color: rgba(0, 0, 0, 0.4);
}


/* =========================
   BLUE THEME
   ========================= */

body.theme-blue {
    --bg-color: #e8f4ff;
    --surface-color: #ffffff;
    --text-color: #111111;
    --secondary-text-color: #666666;
    --border-color: #c7e2f7;
    --sidebar-bg: #e2f2ff;
    --input-bg: #ffffff;

    --hover-bg: #d3e9fb;
    --active-bg: #cfe7fa;
    --active-text: #168ee8;
    --shadow-color: rgba(0, 0, 0, 0.06);
}